---
// This file handles redirects for the /releases/... path
export function getStaticPaths() {
  // Since we only want to redirect, we can return an empty array
  // GitHub Pages doesn't support server-side redirects, but we can create a client-side redirect page
  return [];
}

// Note: Due to returning an empty array, this page won't actually be generated
// You need to modify the redirects configuration in astro.config.mjs
---

<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=https://crowdie.stanford.edu/">
  <title>Redirecting...</title>
</head>
<body>
  <p>If you are not automatically redirected, <a href="https://crowdie.stanford.edu/">click here</a>.</p>
  <script>
    // Get the current path
    const path = window.location.pathname.replace('/releases/', '');
    // Redirect to the target website
    window.location.href = `https://crowdie.stanford.edu/${path}`;
  </script>
</body>
</html> 